* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  /* color: #fff; */
}



html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  /* color: black; */
}

ul {
  list-style: none;
}



nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  /* line-height: 80px; */
  align-items: center;
  background: rgb(246, 167, 139);
  /* background-color:; */
  /* color: orangered; */
  color: #007C64;
  transition: 0.3s;
  z-index: 9;
  font-family: "Space Grotesk", sans-serif;
  padding-inline: 40px;
  border-bottom: 1px solid #000;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 1px 0px 0px rgb(200, 204, 209);
  transition: all 0.3s ease;

}

nav.smaller, .footer.smaller {
  height: 60px; 
  font-size: 0.8em; 
}

nav .navbar-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

nav .navbar-inner .logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

nav .navbar-inner .logo h6 {
  /* padding-left: 20px; */
  font-family: Space Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}



nav .navbar-inner .logo img {
  width: 50px;
  height: 50px;
}

nav .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}


nav .navlists {
  list-style: none;
  margin-top: 10px;
  padding-left: 60px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
}

nav .navlists a {
  color: #007C64;
}

nav .navlists a:hover{
  background-color: #007C64;
  color: #fff;
}

nav .navbar-inner .date_time {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;

}
nav .navbar-inner .date_time p{
  background-color: #007C64;
  color: #fff;
  text-align: left;
  padding: 2px;
  border-radius: 5px;
  margin-top: 2px;

}
nav .navbar-inner .date_time p:hover{
  background: rgb(241, 148, 114);
  color:  #007C64;


}

nav .navbar-inner .date_time span {
  padding-block: 10px;

}



.hero-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(248, 238, 234);
  height: 100%;
  padding-inline: 40px;
  /* padding-block: 40px; */
  /* padding-top: 80px; */
  align-items: center;

}

.hero-section .hero-text {
  width: 50%;
  /* color: #959a0d; */
}

.hero-section .hero-text h1 {
  margin-top: 30px;
  font-size: 55px;
  /* text-align: center; */
  color: #007C64;
}

.hero-section .hero-text p {
  font-size: 18px;
  color: #007C64;
  padding-top: 10px;
  font-weight: 500;
  line-height: 30px;

}



.hero-section .buttons button {
  width: 350px;
  height: 20px;
  margin-top: 30px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(246, 167, 139);
  border: none;
  border-radius: 12px;
}

.hero-section .buttons button a {
  color: #007C64;
  font-size: 18px;
  font-weight: 600;
}


.hero-section .buttons button:hover {
  background: rgb(241, 148, 114);

}

.hero-section .hero-img {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.hero-section .info {
  display: flex;
  flex-direction: column;
}

.hero-section .info p,
.hero-section .info span {
  font-size: 18px;
  color: #007C64;
  padding-top: 10px;
  font-weight: 500;
  line-height: 30px;

}

.goals-section {

  margin-top: 30px;
  padding-inline: 30px;
  /* background-color: #e2f4f1; */

}

.goals-section h3 {
  padding-block: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  position: relative;
  cursor: pointer;

}

.goals-section h3:after {
  content: "";
  /* display: block; */
  width: 80px;
  text-align: center;
  align-items: center;
  height: 3px;
  background: rgb(241, 148, 114);
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto
}

.goals-section .gaols-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: fit-content;

}

.goals-section .gaolscard {
  width: 30%;
  margin: 15px;
  text-align: center;
  padding: 10px;
  line-height: 25px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* flex: 1 1 33.333%; 
box-sizing: border-box; */

.gaolscard h6 {
  font-size: 20px;
  font-weight: 700;
  color: #007C64;
  padding-block: 20px;
}

.gaolscard p {
  padding-inline: 15px;

}

.tobeachieved {
  padding-inline: 30px;
  background: rgb(241, 236, 234);
  margin-block: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #007C64;
}

.tobeachieved h3,
.actionplan h3,
.resources h3 {
  padding-block: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  position: relative;
  cursor: pointer;
}

.tobeachieved h3::after,
.actionplan h3:after,
.resources h3::after {
  content: "";
  /* display: block; */
  width: 80px;
  text-align: center;
  align-items: center;
  height: 3px;
  background: rgb(241, 148, 114);
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto
}

.tobeachieved p,
.actionplan p,
.resources p {
  text-align: center;
  line-height: 25px;
}

.actionplan {
  padding-inline: 30px;

}

.action-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: fit-content;
}

.actioncard h6 {
  font-size: 20px;
  font-weight: 700;
  color: #007C64;
  padding-block: 20px;
}

.actioncard p {
  padding-inline: 15px;

}

.action-cards .actioncard {
  width: 20%;
  margin: 25px;
  text-align: center;
  padding: 10px;
  line-height: 25px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.resources {
  padding-inline: 30px;
  font-size: 17px;

}

.resources .resources-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-inline: 40px;
  margin-bottom: 50px;
  padding-block: 20px;
}

.resources .resources-list li a {
  padding-inline: 40px;
  margin-bottom: 50px;
  color: red;
  font-size: 17px;
}


.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  align-items: center;
  background: rgb(246, 167, 139);
  gap: 20px;
  color: #007C64;
  font-weight: 700;
  justify-content: center;
  z-index: 9;
  font-family: "Space Grotesk", sans-serif;
  padding-inline: 20px;
  border-bottom: 1px solid #000;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 1px 0px 0px rgb(200, 204, 209);
  transition: all 0.3s ease;
}

.footer a {
  color: rgb(255, 242, 0);
}

.footer p:nth-child(3){
  display: flex;
  gap: 30px;
  color: rgb(255, 242, 0);

}





@media only screen and (max-width: 900px) {
  nav {
    width: 100%;
    padding-inline: 5px;
  }

  nav .nav-list {
    display: none;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
    padding-inline: 5px;

  }

  .hero-section .hero-text h1 {
    margin-top: 70px;
    font-size:40px;
    /* text-align: center; */
    color: #007C64;
    text-align: center;
}

.hero-section .hero-text {
  width: 100%;
}

.hero-section .buttons button {
  width: 100%;

}

.hero-section .hero-img {
width: 100%;

}

.goals-section{
  width: 100%;
}

.goals-section .gaols-cards {
  display: flex;
  width: 100%;
  flex-direction: column;
 
}

.goals-section .gaolscard {
  width: 100%;
  margin-bottom: 20px;
  margin: 0;
  margin-top: 20px;

}

.tobeachieved {
  padding-inline: 6px;
 
}

.actionplan {
  padding-inline: 6px;
  width: 100%;
}

.action-cards {
  display: flex;
  flex-direction: column;


}

.action-cards .actioncard {
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  line-height: 25px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.resources {
  padding-inline: 6px;
  font-size: 17px;
}

.resources .resources-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* padding-inline: 40px; */
  margin-bottom:100px;
  padding-block: 20px;
}

.resources .resources-list a{
  padding-top: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  align-items: center;
  gap: 5px;
  height: fit-content;
  font-size: 14px;
  padding-top: 20px;
}

}